
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make your vote</title>
</head>
<body style="background-color: black;background-repeat: no-repeat;background-attachment: fixed;background-size: cover; color: white; padding-left:620px; font-family:Georgia, 'Times New Roman', Times, serif;">
	<br><br><br><br><br>
    <h1>Please cast your vote</h1>
    <form action = "#" method = "POST" style="font-size: 20px;">
        <label>
            <input type="radio" id="vote_4" name="vote" value="BSP" style="border:2px; width:19px; height:2em">
            Bahujan Samaj Party (BSP)<br>
        </label><br>
		<label>
            <input type="radio" id="vote_1" name="vote" value="BJP" style="border:2px; width:19px; height:2em">
            Bharatiya Janata Party (BJP)<br>
        </label><br>
		 <label>
            <input type="radio" id="vote_5" name="vote" value="NPP" style="border:2px; width:19px; height:2em">
            National People's Party (NPP)<br>
        </label><br>
        <label>
            <input type="radio" id="vote_2" name="vote" value="INC" style="border:2px; width:19px; height:2em">
            <label for="vote_2">Indian National Congress (INC)<br>
        </label><br>
        <label>
            <input type="radio" id="vote_3" name="vote" value="CSI" style="border:2px; width:19px; height:2em">
            Communist Party of India (CSI)<br>
        </label><br>
        <label>
            <input type="radio" id="vote_6" name="vote" value="NOTA" style="border:2px; width:19px; height:2em">
            None of the Above (NOTA)<br>
        </label>
        <br>
        <button type="submit" value="vote" name="submit" style="padding: 8px; margin-right:30px; margin-left:60px;font-family:Georgia, 'Times New Roman', Times, serif;">
            <b>Submit Vote</b>
        </button>
		<input type="button" value="Back" style="padding : 8px;font-family:Georgia, 'Times New Roman', Times, serif;font-weight: bold;" onclick="history.back()">
    </form>
</body>
</html>