
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body style="background-color: black;background-repeat: no-repeat;background-attachment: fixed;background-size: cover; color: white;background-size:100% 100%; font-family:Georgia, 'Times New Roman', Times, serif;">
	<br><br><br><br><br>
    <h1 style="font-size:45px"><center>Secure Digital Voting System</center></h1>
	<h3><center>( Based on BLOCKCHAIN TECHNOLOGY )</center></h3>
    <form action = "#" method = "POST">
        <!--<h2><center>Choose One Option MINER or VOTER<center></h2>-->
        
        <br><br>
        <center><button type="submit" name="submit" value="mine" style="padding: 8px;margin-right:50px;font-family:Georgia, 'Times New Roman', Times, serif;"><b>MINER</b></button>
		<button type="submit" name="submit" value="vote" style="padding: 8px;font-family:Georgia, 'Times New Roman', Times, serif;" formnovalidate ><b>VOTER</b></button></center>
		<center><pre>(To Mine)        (To Vote)</pre></center>
    </form>
</body>
</html>