
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miner Page</title>
</head>
<body style="background-color: black;background-repeat: no-repeat;background-attachment: fixed;background-size: cover; color: white;background-size:100% 100%;font-family:Georgia, 'Times New Roman', Times, serif;">
	<br><br><br><br><br>
    <h1 style="font-size:45px"><center>Secure Digital Voting System</center></h1>
	<h4><center>( Based on BLOCKCHAIN TECHNOLOGY )</center></h4>
    <form action = "#" method = "POST">
        <h3><center>Enter Miner ID if you are a Miner or else enter any ID</center></h3>
        <center><input type="text" name="minerID" required></center>
		<p><center>Hint:<b style="color: red;">MOID</b> 
            and followed by three integers</center></p>
        <br><br>
        <center><button type="submit" name="submit" value="mine" style="padding: 7.5px 20px 7.5px 20px; margin-right:50px;font-family:Georgia, 'Times New Roman', Times, serif;"><b>Mine</b></button>
		<button type="submit" name="submit" value="seechain" style="padding: 8px;font-family:Georgia, 'Times New Roman', Times, serif;"><b>SeeVotes</b></button></center>
		<br>
		<center><input type="button" value="Back" style="padding : 10px;font-family:Georgia, 'Times New Roman', Times, serif; font-weight: bold;" onclick="history.back()"></center>
    </form>
</body>
</html>