
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Voting</title>
</head>
<body style="background-color: black;background-size: cover; color: white;font-family:Georgia, 'Times New Roman', Times, serif;">
	<br><br><br><br><br>
    <h1 style="font-size:45px"><center>Secure Digital Voting System</center></h1>
	<h4><center>( Based on BLOCKCHAIN TECHNOLOGY )</center></h4>
    <form action = "#" method = "POST"><center>
        <h2>Enter the Voter ID</h2>
		<input type="text" name="voterID" required>
        <p>Hint:Must start with <b style="color: rgb(241, 68, 0);">VOID</b> 
            and followed by three integers</p>
        <br><br>
        <button type = "submit" value = "new_vote" name="submit" style="padding: 8px;margin-right:50px;font-family:Georgia, 'Times New Roman', Times, serif;">
            <b>New Vote</b>
        </button>
        <!--<button type = "submit" value = "see_chain" name="submit" style="padding: 8px;">
            See Chain
        </button>
		<pre><p>    (to cast vote)   (to check the vote)</p></pre>-->
		<input type="button" value="Back" style="padding : 8px;font-family:Georgia, 'Times New Roman', Times, serif;font-weight: bold;" onclick="history.back()">
    </center></form>
</body>
</html>