
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body style="background-color: black;background-repeat: no-repeat;background-attachment: fixed;background-size: cover; color: white;font-family:Georgia, 'Times New Roman', Times, serif;"><center>
<br><br><br><br><br><br><br>
    <p style="font-size: 30px;">{{User}} with ID <h2 style="color: rgb(241, 68, 0);"> {{ID}}</h2> </p><p style="font-size: 25px;"> The {{User}} With That ID Does Not Exist
    <br> or <br>Already Casted Their Vote </p>
	<br>
	<input type="button" value="Back" style="padding : 8px;font-family:Georgia, 'Times New Roman', Times, serif;font-weight: bold;" onclick="history.back()">
</center></body>
</html>