<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body style="background-color: black;background-repeat: no-repeat;background-attachment: fixed;background-size: cover; color: white;font-family:Georgia, 'Times New Roman', Times, serif;"><center>
<br><br><br><br><br><br><br>
    <h3 style="font-size: 30px;">THANK YOU FOR YOUR VALUABLE VOTE</h3>
	<center><input type="button" value="Back" style="padding : 10px;font-family:Georgia, 'Times New Roman', Times, serif;font-weight: bold;" onclick="history.back()"></center>
</center></body>
</html>